.Weather {
  background-image: linear-gradient(
      180deg,
      rgba(255, 208, 0, 0.3) 0%,
      rgba(255, 149, 3, 0.3) 14%,
      rgba(255, 87, 0, 0.3) 48%,
      rgba(255, 0, 0, 0.3) 84%,
      rgba(168, 0, 0, 0.3) 100%
    ),
    url(day.png);
  border-radius: 20px;
  background-size: cover;
}
