.Weather {
  background-image: linear-gradient(
      180deg,
      rgba(255, 208, 0, 0.3) 0%,
      rgba(255, 149, 3, 0.3) 14%,
      rgba(255, 87, 0, 0.3) 48%,
      rgba(255, 0, 0, 0.3) 84%,
      rgba(168, 0, 0, 0.3) 100%
    ),
    url(day.png);
  border-radius: 20px;
  background-size: cover;
  color: #fff;
  padding: 16px;
  margin: 30px auto;
  max-width: 700px;
  width: 400px;
  height: 700px;
}
.bg-header {
  display: flex;
  background-color: #b45d004a;
  border-radius: 110px;
  width: 220px;
  height: 220px;
  margin: auto;
  box-sizing: 0 0 0 0 #b45d004a;
  transform: scale(1);
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #b45d007a;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #b45d0018;
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #b45d003c;
  }
}
.header {
  display: flex;
  background-color: #b45d004a;
  border-radius: 110px;
  margin: auto;
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 210px;
}
.header-text {
  position: relative;
  bottom: 210px;
}
.Weather h1 {
  font-size: 50px;
  text-align: center;
  display: block;
  font-weight: 300;
  padding-top: 20px;
  margin-top: -160px;
}
.Weather .date {
  text-align: center;
  margin-top: -5px;
  margin-bottom: -130px;
}
.Weather input {
  background-color: rgb(216, 138, 114);
  border: none;
  opacity: 0.6;
  margin-bottom: 20px;
}
.Weather .btn:hover {
  background-color: rgb(184, 91, 62);
}
.temperature {
  text-align: right;
  font-size: 60px;
  font-weight: 300;
  margin-right: 42px;
}
.unit {
  font-size: 20px;
  display: flex;
  margin-left: 55px;
  margin-top: -75px;
}
.unit a {
  color: #ffc68d;
  text-decoration: none;
}
.unit a:hover {
  cursor: pointer;
}
.background {
  background-color: #b45d006f;
  border-radius: 110px;
  width: 110px;
  height: 110px;
  padding: 5px;
}
.humidity {
  font-size: 20px;
  font-weight: 200;
  padding: 2px;
}
.wind {
  font-size: 20px;
  font-weight: 200;
  padding: 2px;
}
.description {
  font-size: 25px;
  font-weight: 300;
  line-height: 0.5;
  padding: 5px;
}
.Weather canvas {
  background-color: #b45d006f;
  border-radius: 110px;
}
.Weather .col-8,
.col-4 {
  padding-top: 30px;
}
footer {
  text-align: center;
}
